# Basic Statistical Testing

In [2]:
# let's bring in the usual libraries
import numpy as np
import pandas as pd
# and a new library
from scipy import stats

# so, let's use a dataset
df = pd.read_csv('Datasets/grades.csv')
df.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000

In [4]:
# to know the number of rows and columns
print("There are {} rows and {} columns".format(df.shape[0], df.shape[1]))

There are 2315 rows and 13 columns

In [6]:
# cleaning the dataframe by years
early_finishers = df[pd.to_datetime(df['assignment1_submission']) < '2016']
early_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000
5,D09000A0-827B-C0FF-3433-BF8FF286E15B,71.647278,2015-12-28 04:35:32.836000000,64.052550,2016-01-03 21:05:38.392000000,64.752550,2016-01-07 08:55:43.692000000,57.467295,2016-01-11 00:45:28.706000000,57.467295,2016-01-11 00:54:13.579000000,57.467295,2016-01-20 19:54:46.166000000
8,C9D51293-BD58-F113-4167-A7C0BAFCB6E5,66.595568,2015-12-25 02:29:28.415000000,52.916454,2015-12-31 01:42:30.046000000,48.344809,2016-01-05 23:34:02.180000000,47.444809,2016-01-02 07:48:42.517000000,37.955847,2016-01-03 21:27:04.266000000,37.955847,2016-01-19 15:24:31.060000000

In [7]:
# and to get the late finishers
late_finishers = df[~df.index.isin(early_finishers.index)]
late_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
6,3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408000000,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000
7,F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619000000,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000
9,E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185000000,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000

In [9]:
# so let's go on to statistical functions in scipy
# and we take the mean value for each finisher
print(early_finishers['assignment1_grade'].mean())
print(late_finishers['assignment1_grade'].mean())

74.94728457024304
74.0450648477065

In [10]:
# so this result are similar but not equal, so we gonna
# see how (much) different they are
# For this we use the t-test
from scipy.stats import ttest_ind

ttest_ind(early_finishers['assignment1_grade'], late_finishers['assignment1_grade'])

Ttest_indResult(statistic=1.3223540853721598, pvalue=0.18618101101713855)

In [13]:
# so here we see that the probability is 0.18, and if our
# threshold is 0.05, we could not say that our population
# are the same (our data)

# let's check the other assignments
print(ttest_ind(early_finishers['assignment2_grade'], late_finishers['assignment2_grade']))
print(ttest_ind(early_finishers['assignment3_grade'], late_finishers['assignment3_grade']))
print(ttest_ind(early_finishers['assignment4_grade'], late_finishers['assignment4_grade']))
print(ttest_ind(early_finishers['assignment5_grade'], late_finishers['assignment5_grade']))
print(ttest_ind(early_finishers['assignment6_grade'], late_finishers['assignment6_grade']))

Ttest_indResult(statistic=1.2514717608216366, pvalue=0.2108889627004424)
Ttest_indResult(statistic=1.6133726558705392, pvalue=0.10679998102227865)
Ttest_indResult(statistic=0.049671157386456125, pvalue=0.960388729789337)
Ttest_indResult(statistic=-0.05279315545404755, pvalue=0.9579012739746492)
Ttest_indResult(statistic=-0.11609743352612056, pvalue=0.9075854011989656)

In [14]:
# here we can see, for example, for third assignment that
# there a 11% of similarity in our data

# on the other hand, there's actualy another statistical 
# analysis, let's create a new dataframe
df1 = pd.DataFrame([np.random.random(100) for x in range(100)])
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.976552,0.463790,0.496810,0.776712,0.895927,0.389560,0.110825,0.420850,0.667229,0.020119,...,0.955489,0.903520,0.674962,0.685218,0.092544,0.572388,0.941027,0.938166,0.347224,0.530257
1,0.076924,0.927796,0.039153,0.070635,0.218398,0.148950,0.577818,0.647340,0.017340,0.234735,...,0.197824,0.864012,0.972799,0.139663,0.560004,0.432919,0.865758,0.789941,0.388357,0.598070
2,0.745944,0.453734,0.609544,0.351474,0.125504,0.982870,0.322694,0.974020,0.190722,0.506150,...,0.271174,0.584408,0.505810,0.960053,0.341935,0.885138,0.259534,0.571125,0.537825,0.365846
3,0.493965,0.677656,0.859659,0.502852,0.759911,0.247330,0.758440,0.199037,0.980184,0.996265,...,0.824730,0.277077,0.293649,0.376424,0.506157,0.894550,0.637513,0.011462,0.003453,0.594458
4,0.921093,0.083841,0.820391,0.347048,0.439220,0.763111,0.037260,0.300613,0.778957,0.860635,...,0.258044,0.318144,0.571234,0.335858,0.803877,0.266086,0.705611,0.956832,0.333641,0.966089

In [15]:
# and a second one
df2 = pd.DataFrame([np.random.random(100) for x in range(100)])
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.056710,0.970099,0.092978,0.713757,0.768686,0.605007,0.545944,0.745310,0.477042,0.257376,...,0.327872,0.073645,0.204135,0.548637,0.222432,0.342228,0.376697,0.321676,0.548968,0.541051
1,0.888502,0.625586,0.564486,0.662193,0.608334,0.457656,0.458814,0.643916,0.840144,0.161742,...,0.163854,0.441759,0.059010,0.615046,0.192489,0.184555,0.313819,0.053274,0.799646,0.218100
2,0.141808,0.334270,0.036872,0.451556,0.128090,0.364370,0.862634,0.046763,0.538543,0.378251,...,0.554656,0.177173,0.923513,0.749443,0.563839,0.765976,0.133035,0.748247,0.844067,0.566973
3,0.208301,0.462871,0.443072,0.430309,0.311453,0.645416,0.130679,0.472737,0.610386,0.015264,...,0.091402,0.010618,0.963479,0.408804,0.330484,0.665382,0.352945,0.176983,0.512324,0.301842
4,0.514340,0.060177,0.189264,0.144364,0.739207,0.629891,0.126934,0.127716,0.747514,0.963073,...,0.666605,0.053345,0.777466,0.361477,0.339927,0.823826,0.666361,0.375743,0.496758,0.778337

In [16]:
# so the question here is: Are these df the same?
# let's create a fuction to deal with
def test_columns(alpha=0.1):
    num_diff = 0
    
    for col in df1.columns:
        teststat, pval = ttest_ind(df1[col], df2[col])
        
        if pval <= alpha:
            print("Col {} is statistically significantly different at alpha={}, pval={}".format(col,alpha,pval))
            num_diff=num_diff+1
            
    print("Total number different was {}, which is {}%".format(num_diff,float(num_diff)/len(df1.columns)*100))

test_columns()

Col 1 is statistically significantly different at alpha=0.1, pval=0.09851140497598065
Col 17 is statistically significantly different at alpha=0.1, pval=0.07160495351774421
Col 19 is statistically significantly different at alpha=0.1, pval=0.037364556964620356
Col 20 is statistically significantly different at alpha=0.1, pval=0.07387481154372617
Col 27 is statistically significantly different at alpha=0.1, pval=0.027215895647215
Col 29 is statistically significantly different at alpha=0.1, pval=0.05499268393522797
Col 47 is statistically significantly different at alpha=0.1, pval=0.007610372373728855
Col 60 is statistically significantly different at alpha=0.1, pval=0.07060779630413815
Col 67 is statistically significantly different at alpha=0.1, pval=0.06508153579860257
Col 71 is statistically significantly different at alpha=0.1, pval=0.03961372007440293
Col 74 is statistically significantly different at alpha=0.1, pval=0.05829864198203453
Col 96 is statistically significantly different at alpha=0.1, pval=0.06010331595934165
Col 99 is statistically significantly different at alpha=0.1, pval=0.07467147268363056
Total number different was 13, which is 13.0%

In [17]:
# and lets use another value of alpha
test_columns(0.05)

Col 19 is statistically significantly different at alpha=0.05, pval=0.037364556964620356
Col 27 is statistically significantly different at alpha=0.05, pval=0.027215895647215
Col 47 is statistically significantly different at alpha=0.05, pval=0.007610372373728855
Col 71 is statistically significantly different at alpha=0.05, pval=0.03961372007440293
Total number different was 4, which is 4.0%

In [19]:
# now let's use a differente distributon for the second df
df2 = pd.DataFrame([np.random.chisquare(df=1, size=100) for x in range(100)])

test_columns()

Col 0 is statistically significantly different at alpha=0.1, pval=0.0003110395944983239
Col 1 is statistically significantly different at alpha=0.1, pval=1.3790740585526527e-05
Col 2 is statistically significantly different at alpha=0.1, pval=0.0028143232406373456
Col 3 is statistically significantly different at alpha=0.1, pval=6.463598424270233e-06
Col 4 is statistically significantly different at alpha=0.1, pval=0.0006013482284743577
Col 5 is statistically significantly different at alpha=0.1, pval=0.00012140965848674011
Col 6 is statistically significantly different at alpha=0.1, pval=0.004572780297930021
Col 7 is statistically significantly different at alpha=0.1, pval=0.0011142548696726204
Col 8 is statistically significantly different at alpha=0.1, pval=0.0001935504861526028
Col 9 is statistically significantly different at alpha=0.1, pval=0.007186488065851884
Col 10 is statistically significantly different at alpha=0.1, pval=0.022382707757013825
Col 11 is statistically significantly different at alpha=0.1, pval=0.004359191351797999
Col 12 is statistically significantly different at alpha=0.1, pval=0.0026987396124794043
Col 13 is statistically significantly different at alpha=0.1, pval=0.0008125612384009236
Col 14 is statistically significantly different at alpha=0.1, pval=0.00012862883002852095
Col 15 is statistically significantly different at alpha=0.1, pval=0.015306955124974183
Col 16 is statistically significantly different at alpha=0.1, pval=2.291847039486174e-05
Col 17 is statistically significantly different at alpha=0.1, pval=0.05445337715609288
Col 18 is statistically significantly different at alpha=0.1, pval=0.0005238923259001317
Col 19 is statistically significantly different at alpha=0.1, pval=0.004777411439629718
Col 20 is statistically significantly different at alpha=0.1, pval=3.4968809418078543e-05
Col 21 is statistically significantly different at alpha=0.1, pval=0.041885471762335556
Col 22 is statistically significantly different at alpha=0.1, pval=0.00021554340715501275
Col 23 is statistically significantly different at alpha=0.1, pval=2.4685045420601083e-05
Col 24 is statistically significantly different at alpha=0.1, pval=0.00039099590697935376
Col 25 is statistically significantly different at alpha=0.1, pval=0.0015098128951685891
Col 26 is statistically significantly different at alpha=0.1, pval=0.003471431662589895
Col 27 is statistically significantly different at alpha=0.1, pval=4.441754833807983e-05
Col 28 is statistically significantly different at alpha=0.1, pval=0.0001814217400826935
Col 29 is statistically significantly different at alpha=0.1, pval=0.002555371786899622
Col 30 is statistically significantly different at alpha=0.1, pval=0.00013079809045318236
Col 31 is statistically significantly different at alpha=0.1, pval=0.00042729449236657296
Col 32 is statistically significantly different at alpha=0.1, pval=0.0002961314623245232
Col 33 is statistically significantly different at alpha=0.1, pval=6.06642039953809e-05
Col 34 is statistically significantly different at alpha=0.1, pval=9.566390554471218e-05
Col 35 is statistically significantly different at alpha=0.1, pval=4.130834151750189e-05
Col 36 is statistically significantly different at alpha=0.1, pval=0.0012741080034190516
Col 37 is statistically significantly different at alpha=0.1, pval=9.131780369299808e-05
Col 38 is statistically significantly different at alpha=0.1, pval=0.020581628940011698
Col 39 is statistically significantly different at alpha=0.1, pval=0.0025834471244706434
Col 40 is statistically significantly different at alpha=0.1, pval=0.00012537037379585056
Col 41 is statistically significantly different at alpha=0.1, pval=0.001933003034639079
Col 42 is statistically significantly different at alpha=0.1, pval=0.0022534827970416027
Col 43 is statistically significantly different at alpha=0.1, pval=2.77791622295881e-05
Col 44 is statistically significantly different at alpha=0.1, pval=4.760540052098807e-06
Col 45 is statistically significantly different at alpha=0.1, pval=0.00031963979780692386
Col 46 is statistically significantly different at alpha=0.1, pval=0.0010015417286485832
Col 47 is statistically significantly different at alpha=0.1, pval=3.065701562625057e-06
Col 48 is statistically significantly different at alpha=0.1, pval=0.0013078318481146009
Col 49 is statistically significantly different at alpha=0.1, pval=0.0015207807535580515
Col 50 is statistically significantly different at alpha=0.1, pval=0.0005723159685792869
Col 51 is statistically significantly different at alpha=0.1, pval=0.0005660458888748
Col 52 is statistically significantly different at alpha=0.1, pval=0.00020006974388852967
Col 53 is statistically significantly different at alpha=0.1, pval=8.36467966534688e-05
Col 54 is statistically significantly different at alpha=0.1, pval=0.007923350372022369
Col 55 is statistically significantly different at alpha=0.1, pval=2.385269757161937e-05
Col 56 is statistically significantly different at alpha=0.1, pval=5.679885290642588e-05
Col 57 is statistically significantly different at alpha=0.1, pval=5.735135461878847e-05
Col 58 is statistically significantly different at alpha=0.1, pval=0.005109806162091747
Col 59 is statistically significantly different at alpha=0.1, pval=0.0006810398960003592
Col 60 is statistically significantly different at alpha=0.1, pval=0.0024967960460985372
Col 61 is statistically significantly different at alpha=0.1, pval=2.464392497816622e-05
Col 62 is statistically significantly different at alpha=0.1, pval=0.0003502453382442982
Col 63 is statistically significantly different at alpha=0.1, pval=3.570429996810503e-05
Col 64 is statistically significantly different at alpha=0.1, pval=0.00013804679896223823
Col 65 is statistically significantly different at alpha=0.1, pval=0.00034847011503802357
Col 66 is statistically significantly different at alpha=0.1, pval=0.004657648456835414
Col 67 is statistically significantly different at alpha=0.1, pval=5.441461960151751e-05
Col 68 is statistically significantly different at alpha=0.1, pval=1.1581351715549991e-05
Col 69 is statistically significantly different at alpha=0.1, pval=0.011332558323736723
Col 70 is statistically significantly different at alpha=0.1, pval=9.487048854033441e-06
Col 71 is statistically significantly different at alpha=0.1, pval=5.990583365014233e-05
Col 72 is statistically significantly different at alpha=0.1, pval=0.00042344173848682853
Col 73 is statistically significantly different at alpha=0.1, pval=0.0001351819186843051
Col 74 is statistically significantly different at alpha=0.1, pval=0.0002922065667023291
Col 75 is statistically significantly different at alpha=0.1, pval=0.0006598351771416767
Col 76 is statistically significantly different at alpha=0.1, pval=0.0007931426523475251
Col 77 is statistically significantly different at alpha=0.1, pval=0.011424870118612365
Col 78 is statistically significantly different at alpha=0.1, pval=1.0521717645404424e-05
Col 79 is statistically significantly different at alpha=0.1, pval=0.00017122789117049163
Col 80 is statistically significantly different at alpha=0.1, pval=0.029219422728175203
Col 81 is statistically significantly different at alpha=0.1, pval=8.78830159142022e-05
Col 82 is statistically significantly different at alpha=0.1, pval=5.866647014157115e-05
Col 83 is statistically significantly different at alpha=0.1, pval=0.00989295232962165
Col 84 is statistically significantly different at alpha=0.1, pval=0.00034549249506319625
Col 85 is statistically significantly different at alpha=0.1, pval=0.000560842086056928
Col 86 is statistically significantly different at alpha=0.1, pval=0.0018085922192840847
Col 87 is statistically significantly different at alpha=0.1, pval=0.0001424746032547092
Col 88 is statistically significantly different at alpha=0.1, pval=6.9875239151184364e-06
Col 89 is statistically significantly different at alpha=0.1, pval=0.0030030518776206295
Col 90 is statistically significantly different at alpha=0.1, pval=0.002432622568921915
Col 91 is statistically significantly different at alpha=0.1, pval=0.0022346617839814195
Col 92 is statistically significantly different at alpha=0.1, pval=0.0006243739072708891
Col 93 is statistically significantly different at alpha=0.1, pval=0.000560838742873028
Col 94 is statistically significantly different at alpha=0.1, pval=0.0028118380891926087
Col 95 is statistically significantly different at alpha=0.1, pval=0.0005650308484917925
Col 96 is statistically significantly different at alpha=0.1, pval=0.00010689625277729317
Col 97 is statistically significantly different at alpha=0.1, pval=3.4560731444783994e-06
Col 98 is statistically significantly different at alpha=0.1, pval=0.042239023579110975
Col 99 is statistically significantly different at alpha=0.1, pval=8.408505103786043e-05
Total number different was 100, which is 100.0%